body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #111;
    color: white;
    padding: 15px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 90%;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
